In [1]:
# data science
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, inspect

In [2]:
df = pd.read_csv("Resources/combined_attacks.csv")
df.head()

,case_number,date,year,attack_type,country,area,location,activity,name,sex,...,original_order,unnamed_22,unnamed_23,animal_type,count,latitude,longitude,details,month,day
0,2019.08.27,2019-08-27,2019.0,Provoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Donald Walsh,M,...,6452.0,NaN,NaN,shark,174.0,29.025813,-80.927127,NaN,NaN,NaN
1,2019.08.21,2019-08-21,2019.0,Unprovoked,USA,Florida,"Fort Lauderdale, Broward County",Wading,Christian Mariani,M,...,6451.0,NaN,NaN,shark,6.0,26.122308,-80.143379,NaN,NaN,NaN
2,2019.08.20,2019-08-20,2019.0,Unprovoked,USA,Hawaii,"Napoopoo Park in Kealakekua Bay, The Big Island",Swimming,female,F,...,6450.0,NaN,NaN,shark,1.0,41.635587,-82.837600,NaN,NaN,NaN
3,2019.08.16,2019-08-16,2019.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Wading,Maggie Crum,M,...,6449.0,NaN,NaN,shark,174.0,29.025813,-80.927127,NaN,NaN,NaN
4,2019.08.11,2019-08-11,2019.0,Unprovoked,USA,Hawaii,"Makaha Beach, Oahu",Surfing,Max Keliikipi,M,...,6448.0,NaN,NaN,shark,1.0,21.476965,-158.220908,NaN,NaN,NaN

### Store data in SQLite for EDA and Web App

In [3]:
# Function to store the SQLite database based on the location passed as a parameter
def store_db(directory):
    # Create the connection to the SQLite database
    engine = create_engine(f'sqlite:///{directory}/combined_attacks.sqlite')
    # Store the data in the SQLite database
    df.to_sql('combined_attacks', engine, if_exists='replace', index=False)

    # Return the INSPECT of the database to validate data being saved
    inspector_gadget = inspect(engine)

    # Close the engine connection
    engine.dispose()

    return inspector_gadget

In [4]:
# Store the database in the Resources folder
inspector_db = store_db("Resources")

# Collect the names of tables within the database
tables = inspector_db.get_table_names()

# print metadata for each table
for table in tables:
    print(table)
    print("-----------")
    
    # get columns
    columns = inspector_db.get_columns(table)
    for column in columns:
        print(column["name"], column["type"])

    print()

combined_attacks
-----------
case_number TEXT
date TEXT
year FLOAT
attack_type TEXT
country TEXT
area TEXT
location TEXT
activity TEXT
name TEXT
sex TEXT
age FLOAT
injury TEXT
fatal_y_n TEXT
time TEXT
species TEXT
investigator_or_source TEXT
pdf TEXT
href_formula TEXT
href TEXT
case_number1 TEXT
case_number2 TEXT
original_order FLOAT
unnamed_22 TEXT
unnamed_23 FLOAT
animal_type TEXT
count FLOAT
latitude FLOAT
longitude FLOAT
details TEXT
month FLOAT
day FLOAT

In [5]:
# Store the database in the Resources folder
inspector_db = store_db("../app/Resources")

# Collect the names of tables within the database
tables = inspector_db.get_table_names()

# print metadata for each table
for table in tables:
    print(table)
    print("-----------")
    
    # get columns
    columns = inspector_db.get_columns(table)
    for column in columns:
        print(column["name"], column["type"])

    print()

combined_attacks
-----------
case_number TEXT
date TEXT
year FLOAT
attack_type TEXT
country TEXT
area TEXT
location TEXT
activity TEXT
name TEXT
sex TEXT
age FLOAT
injury TEXT
fatal_y_n TEXT
time TEXT
species TEXT
investigator_or_source TEXT
pdf TEXT
href_formula TEXT
href TEXT
case_number1 TEXT
case_number2 TEXT
original_order FLOAT
unnamed_22 TEXT
unnamed_23 FLOAT
animal_type TEXT
count FLOAT
latitude FLOAT
longitude FLOAT
details TEXT
month FLOAT
day FLOAT