In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import json

# from config import GEOAPIFY_API
import requests
import pprint
import time

pd.set_option('max_colwidth', 400)

In [2]:
shark_attacks_df = pd.read_csv("Resources/shark_attacks_clean_data.csv")
shark_attacks_df.head()

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,2019.08.27,2019-08-27,2019.0,Provoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Donald Walsh,M,...,6.5' shark,"K. McMurray, TrackingSharks.com",2019.08.27-Walsh.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2019.08.27-Walsh.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2019.08.27-Walsh.pdf,2019.08.27,2019.08.27,6452.0,NaN,NaN
1,2019.08.21,2019-08-21,2019.0,Unprovoked,USA,Florida,"Fort Lauderdale, Broward County",Wading,Christian Mariani,M,...,NaN,"K. McMurray, TrackingSharks.com",2019.08.21-Mariani.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2019.08.21-Mariani.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2019.08.21-Mariani.pdf,2019.08.21,2019.08.21,6451.0,NaN,NaN
2,2019.08.20,2019-08-20,2019.0,Unprovoked,USA,Hawaii,"Napoopoo Park in Kealakekua Bay, The Big Island",Swimming,female,F,...,NaN,"Hawaii News Now, 8/20/2019",2019.08.20-Hawaii.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2019.08.20-Hawaii.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2019.08.20-Hawaii.pdf,2019.08.20,2019.08.20,6450.0,NaN,NaN
3,2019.08.16,2019-08-16,2019.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Wading,Maggie Crum,M,...,NaN,"WESH, 8/16/2019",2019.08.16-Crum.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2019.08.16-Crum.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2019.08.16-Crum.pdf,2019.08.16,2019.08.16,6449.0,NaN,NaN
4,2019.08.11,2019-08-11,2019.0,Unprovoked,USA,Hawaii,"Makaha Beach, Oahu",Surfing,Max Keliikipi,M,...,10' to 12' shark,"M. Michaelson, GSAF",2019.08.11-Keliikipi.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2019.08.11-Keliikipi.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2019.08.11-Keliikipi.pdf,2019.08.11,2019.08.11,6448.0,NaN,NaN

In [3]:
bear_attacks_df = pd.read_csv("Resources/bear_attacks_clean_data.csv")  
bear_attacks_df.head()

,date,location,details,bear,latitude,longitude,name,age,sex,year,month,day
0,2018-08-23,"Lyon Inlet, Nunavut","Three men from Naujaat, whose boat had broken down, were having tea on the morning of August 23 when a female bear and a cub surprised them. Leo Ijjangiaq fired a rifle to scare the bear but it attacked Laurent Junior Uttak before killing Darryl Kaunak. The mother and cub were killed. During the next three days, prior to being rescued, more bears approached the two survivors and at least one m...",Polar,66.534160,-83.882170,Darryl Kaunak,33.0,M,2018.0,8.0,23.0
1,2018-07-03,"Sentry Island, Nunavut","A polar bear approached a man and his children on Sentry Island. The man, identified as 31-year-old Aaron Gibbons from Arviat, put himself between the children and the bear and was attacked, causing fatal injuries. The bear was killed by other people who were also in the area.[84][85]",Polar,61.167230,-93.850150,Aaron Gibbons,31.0,M,2018.0,7.0,3.0
2,1999-07-09,"near Rankin Inlet, Nunavut","Amitnak was mauled after trying to distract a bear that attacked and injured two other people at a Hudson Bay camp.[161] She was later awarded a posthumous medal of bravery by then-Governor-General of Canada, Adrienne Clarkson.[162]",Polar,62.808913,-92.087741,Hattie Amitnak,64.0,F,1999.0,7.0,9.0
3,1990-12-08,"Point Lay, Alaska","While Stalker was walking with his girlfriend, he was chased and consumed in the middle of the town. The bear was shot and killed near Stalker's corpse.[163]",Polar,69.742800,-163.011250,Carl Stalker,28.0,M,1990.0,12.0,8.0
4,1983-11-29,"Churchill, Manitoba","Mutanen was attacked and dragged on a street in Churchill. The bear was part of an annual migration to Hudson Bay. Due to a lack of ice on the bay, the bear wandered into the town.[188]",Polar,58.767755,-94.163998,Thomas Mutanen,46.0,M,1983.0,11.0,29.0

In [4]:
shark_unique_locations_df = pd.read_csv("Resources/shark_unique_locations.csv")
shark_unique_locations_df.head()

                           location  count   latitude  longitude
0  New Smyrna Beach, Volusia County    172  29.025813 -80.927127
1     Daytona Beach, Volusia County     30  29.210815 -81.022833
2       Ponce Inlet, Volusia County     22  29.096373 -80.936998
3   Melbourne Beach, Brevard County     18  28.068407 -80.560795
4        Myrtle Beach, Horry County     17  33.695646 -78.890041

In [5]:
# For bear_attacks_df
bear_attacks_df['animal_type'] = 'bear'
# For shark_attacks_df
shark_attacks_df['animal_type'] = 'shark'

In [6]:
# Merge the DataFrames on the 'location' column
merged_shark_df = pd.merge(shark_attacks_df, shark_unique_locations_df, on='location', how='inner')

In [7]:
# Renark_sharkme columns in all DataFrames
merged_shark_df.rename(columns={
    'bear attack': 'bear',
    'date': 'date',
    'location': 'location',
    'name': 'name',
    'sex': 'sex',
    'year': 'year',
    'type': 'attack_type',
    'country': 'country',
    'area': 'area',
    'activity': 'activity',
    'species': 'species',
    'investigator_or_source': 'investigator_or_source',
    'pdf': 'pdf',
    'href_formula': 'href_formula',
    'href': 'href',
    'count': 'count',
    'latitude': 'latitude',
    'longitude': 'longitude'
}, inplace=True)

bear_attacks_df.rename(columns={
    'date': 'date',
    'location': 'location',
    'details': 'details',
    'bear': 'species',
    'latitude': 'latitude',
    'longitude': 'longitude',
    'name': 'name',
    'age': 'age',
    'sex': 'sex',
    'year': 'year',
    'month': 'month',
    'day': 'day'
}, inplace=True)

In [8]:
print(merged_shark_df.columns)
print(bear_attacks_df.columns)

Index(['case_number', 'date', 'year', 'attack_type', 'country', 'area',
       'location', 'activity', 'name', 'sex', 'age', 'injury', 'fatal_(y/n)',
       'time', 'species', 'investigator_or_source', 'pdf', 'href_formula',
       'href', 'case_number.1', 'case_number.2', 'original_order',
       'unnamed:_22', 'unnamed:_23', 'animal_type', 'count', 'latitude',
       'longitude'],
      dtype='object')
Index(['date', 'location', 'details', 'species', 'latitude', 'longitude',
       'name', 'age', 'sex', 'year', 'month', 'day', 'animal_type'],
      dtype='object')

In [9]:
# Reset index for each DataFrame before concatenation
merged_shark_df = merged_shark_df.reset_index(drop=True)
bear_attacks_df = bear_attacks_df.reset_index(drop=True)

# Now concatenate the DataFrames
combined_df = pd.concat([merged_shark_df, bear_attacks_df], ignore_index=True, sort=False)


# Display the first few rows of the combined DataFrame
print(combined_df.head())

  case_number        date    year attack_type country     area  \
0  2019.08.27  2019-08-27  2019.0    Provoked     USA  Florida
1  2019.08.21  2019-08-21  2019.0  Unprovoked     USA  Florida
2  2019.08.20  2019-08-20  2019.0  Unprovoked     USA   Hawaii
3  2019.08.16  2019-08-16  2019.0  Unprovoked     USA  Florida
4  2019.08.11  2019-08-11  2019.0  Unprovoked     USA   Hawaii

                                          location  activity  \
0                 New Smyrna Beach, Volusia County   Surfing
1                  Fort Lauderdale, Broward County    Wading
2  Napoopoo Park in Kealakekua Bay, The Big Island  Swimming
3                 New Smyrna Beach, Volusia County    Wading
4                               Makaha Beach, Oahu   Surfing

                 name sex  ...  original_order unnamed:_22 unnamed:_23  \
0        Donald Walsh   M  ...          6452.0         NaN         NaN
1  Christian Mariani    M  ...          6451.0         NaN         NaN
2              female   F  ...          6450.0         NaN         NaN
3         Maggie Crum   M  ...          6449.0         NaN         NaN
4      Max Keliikipi    M  ...          6448.0         NaN         NaN

  animal_type  count   latitude  longitude details month day
0       shark  172.0  29.025813 -80.927127     NaN   NaN NaN
1       shark    6.0  26.122308 -80.143379     NaN   NaN NaN
2       shark    1.0  30.829423 -82.609586     NaN   NaN NaN
3       shark  172.0  29.025813 -80.927127     NaN   NaN NaN
4       shark    1.0 -12.206631 -77.014699     NaN   NaN NaN

[5 rows x 31 columns]

In [10]:
print(combined_df.tail())

     case_number        date    year attack_type country area  \
2324         NaN  1955-09-19  1955.0         NaN     NaN  NaN
2325         NaN  1942-08-23  1942.0         NaN     NaN  NaN
2326         NaN  1929-09-12  1929.0         NaN     NaN  NaN
2327         NaN  1922-06-12  1922.0         NaN     NaN  NaN
2328         NaN  1916-09-08  1916.0         NaN     NaN  NaN

                                    location activity  \
2324                     near Eureka, Alaska      NaN
2325      Yellowstone National Park, Wyoming      NaN
2326           Jasper National Park, Alberta      NaN
2327  Absaroka-Beartooth Wilderness, Montana      NaN
2328      Yellowstone National Park, Wyoming      NaN

                           name sex  ...  original_order unnamed:_22  \
2324            Willies McBride   M  ...             NaN         NaN
2325              Martha Hansen   F  ...             NaN         NaN
2326              Percy Goodair   M  ...             NaN         NaN
2327  Joseph B. "Frenchy" Duret   M  ...             NaN         NaN
2328                Frank Welch   M  ...             NaN         NaN

     unnamed:_23 animal_type count  latitude  longitude  \
2324         NaN        bear   NaN  65.19087 -150.16106
2325         NaN        bear   NaN  44.97635 -110.69994
2326         NaN        bear   NaN  52.87608 -118.07927
2327         NaN        bear   NaN  45.29577 -110.83466
2328         NaN        bear   NaN  44.97635 -110.69994

                                                                                                                                                                                                                                                                                                                                                                                                              details  \
2324                                                                                                                                                                                                                                                                                                                                            McBride was mauled while hunting alone. The bear was not found.[240]
2325  Hansen left her cabin to go to the restroom. As she rounded a corner, she surprised a bear and was mauled. Hansen was taken to the hospital and died four days later due to injuries sustained during the attack.[248][249] Hansen's sister sought, and eventually successfully received compensation for expenses incurred to care for Martha. Franklin Delano Roosevelt signed a bill in 1944 granting the...
2326                                                                                                                                                                                                                                                                                                             Goodair, a Parks Canada warden, was killed by a bear while patrolling the Tonquin Valley.[266][267]
2327                                                                                                                                                                                                                                            Duret was attacked and partially devoured by a huge grizzly. Duret crawled 1.5-mile (2.4Â km) back towards his ranch and died in Frenchy Meadow on Slough Creek.[268]
2328                                                                                                                                                                                                                                                             Welch was killed at a camp near Sylvan Pass while carrying a load of hay and oats.[269] Men from the camp killed the bear with a dynamite trap.[70]

     month   day
2324   9.0  19.0
2325   8.0  23.0
2326   9.0  12.0
2327   6.0  12.0
2328   9.0   8.0

[5 rows x 31 columns]

In [11]:
# Select specific columns to view
selected_columns_df = combined_df[['date','sex','age']]

In [12]:
print(combined_df.describe())

              year          age  original_order        count     latitude  \
count  2194.000000  1597.000000     2193.000000  2193.000000  2329.000000
mean   1989.654057    27.631183     3883.982216    16.645235    31.819713
std      27.761626    15.478455     1712.378557    45.590459    12.679731
min    1900.000000     3.000000        4.000000     1.000000   -45.786904
25%    1976.000000    16.000000     2804.000000     1.000000    27.296156
50%    2000.000000    23.000000     4174.000000     2.000000    29.975998
75%    2010.000000    37.000000     5269.000000     5.000000    37.714029
max    2019.000000    93.000000     6452.000000   172.000000    69.742800

         longitude       month         day
count  2329.000000  136.000000  136.000000
mean    -85.904503    7.602941   15.360294
std      46.780048    2.102131    8.581352
min    -176.475029    1.000000    1.000000
25%    -109.468460    6.000000    8.000000
50%     -80.927127    8.000000   15.000000
75%     -79.990370    9.000000   23.000000
max     176.186832   12.000000   30.000000

In [13]:
# Export to CSV
combined_df.to_csv("Resources/combined_attacks.csv", index=False)